<div *ngIf="books.length" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <!-- Category Column -->
        <ng-container matColumnDef="title">
            <th  mat-header-cell *matHeaderCellDef> Title </th>
            <td  mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Author Column -->
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div>
                        <div> <b>Status:</b> {{getStatusMessage(element.status, element.category)}} </div>
                        <div> <b>Current Category:</b> {{element.current_category}} </div>
                        <div> <b>Id:</b> {{element.id}} </div>               
                    </div>
                    <span class="example-spacer"></span>
                    <button style="margin-bottom: 1rem; font-size: small;" 
                            mat-raised-button 
                            color="primary"
                            (click)="correctBook(expandedElement);"  >
                                Correct book
                                <mat-icon>done</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>

        <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row"></tr>



    </table>
    <mat-paginator [pageSize]="10">
    </mat-paginator>

</div>

<div *ngIf="!books.length" style="display: block; text-align: center; margin-top: 15rem;">
    <h2>There is no misplaced books!</h2>
</div>