# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/libscoutr/dist
/libscoutr/tmp
/libscoutr/out-tsc
# Only exists if Bazel was run
/libscoutr/bazel-out

# dependencies
/libscoutr/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/libscoutr/.idea
/libscoutr/.project
/libscoutr/.classpath
/libscoutr/.c9/
/libscoutr/*.launch
/libscoutr/.settings/
/libscoutr/*.sublime-workspace

# IDE - VSCode
/libscoutr/.vscode/*
/libscoutr/!.vscode/settings.json
/libscoutr/!.vscode/tasks.json
/libscoutr/!.vscode/launch.json
/libscoutr/!.vscode/extensions.json
/libscoutr/.history/*

# misc
/libscoutr/.sass-cache
/libscoutr/connect.lock
/libscoutr/coverage
/libscoutr/libpeerconnection.log
/libscoutr/npm-debug.log
/libscoutr/yarn-error.log
/libscoutr/testem.log
/libscoutr/typings

# System Files
/libscoutr/.DS_Store
/libscoutr/Thumbs.db
