<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="login" *ngIf="!isAuthenticated">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </button>
        <button mat-menu-item routerLink="misplaced" *ngIf="isAuthenticated">
            <mat-icon>explore</mat-icon>
            <span>misplaced books</span>
        </button>
        <button mat-menu-item routerLink="search">
            <mat-icon>manage_search</mat-icon>
            <span>Search book</span>
        </button>
        <button mat-menu-item (click)="logout()" *ngIf="isAuthenticated">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>

    </mat-menu>
    <span>LibScoutR</span>
    <span class="example-spacer"></span>
    <span>{{user}}</span>

</mat-toolbar>
<router-outlet></router-outlet>

<app-mat-spinner-overlay id='spinner' [overlay]="true" style="display: none;"> 
</app-mat-spinner-overlay>